<!-- TODO template for creating new database item
    - /add route should only be accessible from navbar
    - input boxes for all fields the user must input
        - labeled fields user can type in
        - error handling on all the fields to ensure correct input
            - trim to check if blank
            - i.e if number, must be number
            - design feedback so it direct user's attention to
                the right place to correct the error
    - after submission:
        - page says: "New item successfully created."
        - button / link: "see it here" -> view_id page
        - clear input boxes, focus back on first text box
        - data saved on server using ajax
