{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='edit_id.js')}}"></script>
<script>
    let dining_hall = {{ dh_entry | tojson }}
    let id = parseInt("{{ id }}")
</script>
{% endblock %}

{% block body %}
<div class="heading"><h3>Edit {{dh_entry.name}}:</h3></div>
<form id="add-hall">
    <div class="row form-container">
        <div class="col-3 field-names">
            <div class="row field">Dining hall name:</div>
            <div class="row field">Rating (out of 5):</div>
            <div class="row field">Image:</div>
            <div class="row field">Description:</div>
            <div class="row field">Location:</div>
            <div class="row field">Food containers:</div>
            <div class="row field">Fruit:</div>
            <div class="row field">Condiments</div>
            <div class="row field">Unpackaged food:</div>
            <div class="row field">Packaged food:</div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <input type="text" id="hn" name="name" class="input-field" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" id="r" name="rating" class="input-field" placeholder="Number">
            </div>
            <div class="form-group">
                <input type="text" id="i" name="image" class="input-field" placeholder="URL">
            </div>
            <div class="form-group">
                <input type="text" id="d" name="desc" class="input-field" placeholder="Description">
            </div>
            <div class="form-group">
                <input type="text" id="l" name="location" class="input-field" placeholder="Location">
            </div>
            <div class="form-group">
                <input type="text" id="ct" name="containers" class="input-field" placeholder="(comma-separated)">
            </div>
            <div class="form-group">
                <input type="text" id="f" name="fruit" class="input-field" placeholder="(comma-separated)">
            </div>
            <div class="form-group">
                <input type="text" id="cm" name="condiments" class="input-field" placeholder="(comma-separated)">
            </div>
            <div class="form-group">
                <input type="text" id="up" name="unpackaged" class="input-field" placeholder="(comma-separated)">
            </div>
            <div class="form-group">
                <input type="text" id="p" name="packaged" class="input-field" placeholder="(comma-separated)">
            </div>
        </div>
        <div class="col-3">
            <div>
                <button type="submit" class="btn-style" id="submit-edit">Submit</button>
            </div>
            <div>
                <button type="submit" class="btn-red" id="discard">Discard</button>
            </div>
            <div id="dialog">
                <p>Are you sure you want to discard changes?</p>
            </div>
        </div>
    </div>
</form>
{% endblock %}