<!-- TODO editing route for editing data of existing entries
    - button to here from /view/<id>
    - have text boxes + other inputs for each field
    - each field should be pre-populated w current value
    - "submit" button
        - after pressing, data should be saved to server
        - user sent to /view/<id> page where they can see changes
    - "discard changes" button
        - when pressed - page presents dialog box widget that asks if they are sure
        - if sure, don't save data and take back to view/<id> page
        - if aren't sure, keep editing