{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='edit_id.js')}}"></script>
<script>
    let dining_hall = {{ dh_entry | tojson }}
    let id = parseInt("{{ id }}")
</script>
{% endblock %}

{% block body %}
<div class="heading"><h3>Edit {{dh_entry.name}}:</h3></div>
<form id="add-hall">
    <div class="row form-container">
        <div class="col-10">
            <div class="form-group">
                Dining hall name:
                <input type="text" id="hn" name="name" class="input-field" placeholder="Name">
            </div>
            <div class="form-group">Rating (out of 5):
                <input type="text" id="r" name="rating" class="input-field" placeholder="Number">
            </div>
            <div class="form-group">Image:
                <input type="text" id="i" name="image" class="input-field" placeholder="URL">
            </div>
            <div class="form-group">Description:
                <input type="text" id="d" name="desc" class="input-field" placeholder="Description">
            </div>
            <div class="form-group">Location:
                <input type="text" id="l" name="location" class="input-field" placeholder="Location">
            </div>
            <div class="form-group">Food containers:
                <input type="text" id="ct" name="containers" class="input-field" placeholder="(comma-separated)">
            </div>
            <div class="form-group">Fruit:
                <input type="text" id="f" name="fruit" class="input-field" placeholder="(comma-separated)">
            </div>
            <div class="form-group">Condiments:
                <input type="text" id="cm" name="condiments" class="input-field" placeholder="(comma-separated)">
            </div>
            <div class="form-group">Unpackaged food:
                <input type="text" id="up" name="unpackaged" class="input-field" placeholder="(comma-separated)">
            </div>
            <div class="form-group">Packaged food:
                <input type="text" id="p" name="packaged" class="input-field" placeholder="(comma-separated)">
            </div>
        </div>
        <div class="col-2">
            <button type="submit" id="submit-edit">Submit</button>
            <button type="submit" id="discard">Discard</button>
            <div id="dialog">
                <p>Are you sure you want to discard changes?</p>
            </div>
        </div>
    </div>
</form>
{% endblock %}