{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
<script>
    let halls = {{ dining_halls | tojson }};
</script>
{% endblock %}

{% block body %}
<div class="heading">
    <h3>Top Rated Dining Halls for "Grocery Shopping"</h3>
    <h5>Get your groceries here!</h5>
</div>
<!-- top three dining halls! -->
<div class="container">
    <div class="row home-images"></div>
    <div class="row home-text"></div>
</div>
{% endblock %}
