{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='view_id.js')}}"></script>
<script>
    let hall = {{ hall | tojson }};
    id = {{ id }};
</script>
{% endblock %}
{% block body %}
<div class="row hall-head">
    <div class="col-6">
        <div class="row header-image"></div>
    </div>
    <div class="col-6">
        <div class="heading"></div>
        <div class="rating"></div>
        <div class="button-div d-flex justify-content-center align-items-center">
            <button class="btn edit-btn btn-style">Edit</button>
        </div>
    </div>
</div>
<div class="description item"></div>
<div class="container">
    <div class="etc">
        <div class="row item" id="location">
            <span class="field-v">Location:&nbsp;</span>
        </div>
        <div class="row item" id="containers"><span class="field-v">Food containers:</span></div>
    </div>
    <div class="row item">
        <div class="col-3 item" id="fruit">
            <div class="field title">Fruit:</div></div>
        <div class="col-3 item" id="condiments">
            <div class="field title">Condiments:</div>
        </div>
        <div class="col-3 item" id="packaged">
            <div class="field title">Packaged goods:</div>
        </div>
        <div class="col-3 item" id="unpackaged">
            <div class="field title">Unpackaged goods:</div>
        </div>
    </div>
</div>
{% endblock %}